# Manipulation de données
pandas
numpy

# NLP & Transformers
transformers
datasets
tokenizers

# Deep Learning
torch

# spaCy et modèle français
spacy

# Matching flou (distant supervision)
fuzzywuzzy
python-Levenshtein

# Machine Learning
scikit-learn

# Visualisation
matplotlib
seaborn

# Utilitaires
tqdm
unidecode

# Notebooks
jupyter
ipykernel


# 
prettytable